@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.box-main{
    font-size:32px;
    text-align: center;
    margin-top:15%;
    color: #00B4CC;
    font-weight: 1000;
}

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size:20px;
}
#recommend{
  font-size: 10px;
}
#inputfile {
    display: none;
}
#inputlabel {
  width: 40px;
  height: 36px;
  border: 0 solid #00B4CC;
  padding-top: 1px;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  font-size: 20px;
  position: relative;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
output{
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 50%;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #9DBFAF;
}

.ouputbutton{
  width: 33%;
  height: 36px;
  border: 1px solid #00B4CC;
  margin-top: 10px;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  font-size:20px;
  position: absolute;
  left: 33%;
}